@media (max-width:560px){
/* header  */
.header_div{
justify-content: center;
align-items: center;
margin: 32px 169px 32px 8px;
}
.form_1{
    display: none;
}
.header_div1{
    display: flex;
width: 72px;
height: 32px;
justify-content: center;
align-items: flex-start;
gap: 8px;
flex-shrink: 0;
}
.header_button{
    display: none;
}
.phone_button{
    display: flex;
width: 32px;
height: 32px;
padding: 8px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #F30AEA;
background-color: transparent;
margin-top: 15px;
}
.phone_img{
    display: flex;
}
.header_div_img{
margin-top: 15px;
width: 32px;
height: 32px;
padding: 8px;
}
/* section1  */
.section1{
    display: inline-flex;
height: 64px;
padding: 16px 64px;
justify-content: center;
/* align-items: flex-start; */
gap: 168px;
flex-shrink: 0;
}
.section1_ul{
    display: none;
}
.phone_img1{
    display: flex;

}
.phone_img2{
    display: flex;
}
/* section2  */
.the_diiv{
    display: flex;
width: 332px;
padding: 48px 6px;
flex-direction: column;
justify-content: center;
align-items: center;
}
.section2_h{
    padding: 48px 0 40px;
}
.form_div1{
    gap: 8px;
}
.NAME{
width: 156px;
padding: 11px 85px 11px 22px;
align-items: center;
}
.EMAIL{
    display: flex;
width: 156px;
padding: 11px 85px 11px 22px;
align-items: center;
}
.section2_label1{
    font-size: 14px;
}
.section2_select1{
    width: 320px;
height: 48px;
padding: 11px 0px 11px 22px;
justify-content: flex-end;
align-items: flex-start;
gap: 147px;
}
.section2_label2{
    font-size: 14px;
}
.section2_label3{
    font-size: 14px;
}
.section2_label4{
    font-size: 14px;
}
textarea{
width: 320px;
height: 104px;
padding: 7px 226px 71px 22px;
align-items: center;
}
.newsletter{
    font-size: 14px;
}
.main_button{
width: 320px;
}
/* footer  */
footer{
height: 268px;
padding: 24px 64px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;
}
.footer_div2{
    display: flex;
    gap: 10px;
    margin: auto;
}
.footer_article{
    width: 30px;
}
.footer_article1{
    width: 30px;
}
.footer_article2{
    width: 30px;
}
.footer_text{
    display: none;
}
}