.container{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
/* header  */
header{
    display: flex;
    width: 1440px;
background: #2E0230;
}
.header_div{
    display: flex;
width: 103px;
justify-content: top;
align-items: top;
gap: 8px;
margin: 34px 305px 34px 72px;
}
.header_img{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #F1ACEE;
}
.header_h3{
    color: #F1ACEE;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.form_1{
    margin-left: 10px;
    display: flex;
padding-left: 0px;
/* justify-content: flex-end; */
align-items: center;
border-radius: 8px;
height: 48px;
margin: 34px 249px 34px 0;
}
.search1{
    color: rgba(158, 141, 158, 0.71);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-right: 303px;
height: 48px;
}
.header_button1{
    display: flex;
    width: 48px;
    height: 48px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    background: #01ACA9;
}
.header_img1{
 width: 16px;
 height: 16px;  
}
.header_div1{
    display: flex;
width: 134px;
height: 42px;
justify-content: center;
align-items: flex-start;
gap: 8px;
flex-shrink: 0;
margin: 37px 72px 37px 0;
}
.header_button{
    display: flex;
width: 84px;
height: 42px;
background-color: transparent;
padding: 8px 16px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #F30AEA;
color: #fff;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.header_button_text{
    color: #FFF;
    /* ვიცი რომ ამისთვის სტილი არ უნდა დამეწერა თუმცა ფერი სხვანაირად ვერ შევცვალე */
}
.phone_button{
display: none;
}
.phone_img{
display: none;
}
.header_div_img{
    display: flex;
width: 42px;
height: 42px;
padding: 13px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 8px;
background: #F30AEA;
}
/* section1  */
.section1{
    display:flex;
width: 1440px;
height: 64px;
padding: 15px 299px;
justify-content: center;
align-items: center;
flex-shrink: 0;
background: #01ACA9;
}
.section1_img{
    display: none;
}
.section1_ul{
    display: flex;
width: 842px;
height: 34px;
justify-content: center;
align-items: flex-start;
gap: 96px;
flex-shrink: 0;
}
.phone_img1{
    display: none;
}
.phone_img2{
    display: none;
}
.section1_a{
    color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 26px;
width: 91px;
height: 26px;
}
.the_text::after{
    content: "";
    width: 127px;
    height: 1px;
    background-color: #FFF;
    display: block;
    margin-top: 8px;
}
/* section2 */
.section2{
    padding-top: 64px;
    width: 1440px;
height: 1004px;
flex-shrink: 0;
background-image: url(../images/cover\ image\ \(1\).png);
}
.the_diiv{
    display: flex;
    width: 864px;
    height: 876px;
    padding: 48px 200px;
    margin: auto;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid rgba(176, 82, 181, 0.79);
    background: rgba(28, 19, 37, 0.80);
    backdrop-filter: blur(5px);
}
.section2_h{
    color: #FFF;
text-shadow: 2px 4px 4px rgba(249, 12, 239, 0.71);
font-family: Poppins;
font-size: 32px;
 margin:  auto;
font-style: normal;
font-weight: 700;
line-height: 26px; 
letter-spacing: 4px;
padding-bottom: 80px;
}
.main_form{
    display: flex;
margin: auto;
flex-direction: column; 
}
.form_div1{
    display: flex;
    gap: 24px;
}
.NAME{
    display: flex;
width: 220px;
padding: 11px 149px 11px 22px;
align-items: center;
border-radius: 8px;
border: 1px solid #B052B5;
    color: rgba(158, 141, 158, 0.71);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
background-color: transparent;
}
.EMAIL{
    color: rgba(158, 141, 158, 0.71);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
display: flex;
width: 220px;
padding: 11px 155px 11px 22px;
align-items: center;
border-radius: 8px;
border: 1px solid #B052B5;
background-color: transparent;
}
.section2_label1{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
padding-top: 24px;
padding-bottom: 8px;
}
.section2_select1{
    display: flex;
width: 464px;
height: 48px;
padding: 12px 22px 12px 218px;
justify-content: flex-end;
align-items: center;
border-radius: 8px;
border: 1px solid #B052B5;
background-color: transparent;
color: #fff;
}
.option_yes{
    width: 30px;
    height: 10px;
    color: #000;
}
.option_no{
    width: 30px;
    height: 10px;
    color: #000;
}
.section2_label2{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
padding-top: 24px;
padding-bottom: 16px;
}
.form_div2{
    display: flex;
    display: inline-flex;
align-items: flex-start;
gap: 8px;
}
.section2_input1{
    appearance: none;
    width: 24px;
height: 24px;
stroke-width: 2px;
border: 3px solid rgba(243, 10, 234, 0.71);
border-radius: 15px;
display: flex;
    justify-content: center;
    align-items: center;
}
.section2_input1:checked::before{
    content: "\f00c";
    font-family: "Font Awesome 6 free";
    font-weight: 900;
    color: rgba(243, 10, 234, 0.71);
}
.section2_label3{
    display: flex;
    color: #B052B5;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.section2_label4{
    color: #FFF;
    padding-top: 26px;
    padding-bottom: 8px;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
textarea{
    resize: none;
    display: flex;
width: 464px;
height: 112px;
padding: 11px 370px 75px 22px;
align-items: center;
border-radius: 8px;
border: 1px solid #B052B5;
background-color: transparent;
}
.form_div3{
    display: inline-flex;
padding-right: 0px;
align-items: flex-start;
gap: 8px;
margin-top: 24px;
margin-bottom: 40px;
}
.section2_input2{
    appearance: none;
    width: 24px;
height: 24px;
stroke-width: 2px;
border: 2px solid rgba(243, 10, 234, 0.71);
border-radius: 5px;
display: flex;
    justify-content: center;
    align-items: center;
}
.section2_input2:checked::before{
    content: "\f00c";
    font-family: "Font Awesome 6 free";
    font-weight: 900;
    color: rgba(243, 10, 234, 0.71);
}
.newsletter{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.main_button{
    display: flex;
width: 464px;
padding: 19px 0px;
justify-content: center;
align-items: center;
border-radius: 16px;
background: #F30AEA;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px;
}
/* footer  */
footer{
    width: 1440px;
    display: flex;
height: 232px;
padding: 48px 72px;
justify-content: center;
align-items: flex-start;
gap: 345px;
background: #01ACA9;
}
.footer_div1{
    display: flex;
    width: 168px;
    height: 67px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}
.footer_h{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px;
}
.footer_thediv{
    display: flex;
width: 168px;
height: 25px;
justify-content: center;
align-items: flex-start;
gap: 24px;
flex-shrink: 0;
}
.footer_div2{
height: 236px;
width: 136px;
}
.footer_h4{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px;
padding-bottom: 16px; 
}
.footer_article{
    display: flex;
width: 206px;
height: 26px;
justify-content: center;
align-items: flex-start;
gap: 8px;
flex-shrink: 0;
}
.footer_article1{
    padding-top: 8px;
    display: flex;
    width: 333px;
    height: 26px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}
.footer_article2{
    display: flex;
    padding-top: 8px;
     width: 176px;
    height: 26px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}
.footer_text{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.footer_text1{
    color: #F5E0F5;
font-family: Poppins;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 23px; 
}